{% extends 'base.html' %}
{% block contenido %}
<div class="col-lg-12">
  <h1 class="page-header">Vacantes</h1>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/vacante/" class="btn btn-success"> <i class="fa fa-plus"></i> Agregar Vacante</a>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripci&oacute;n</th>
            </tr>
          </thead>
          <tbody>
          {% for item in vacantes %}

            <tr>
              <td>{{forloop.counter}}</td>
              <td class="">
                <strong>{{item.titulo}}</strong>
                <small>{{item.fecha|date:'DATETIME_FORMAT'}}</small>
                <p>
                  {{item.descripcion}}
                </p>
                {% if item.solicitud_set.all.count %}
                <a href="{% url 'solicitudes' item.id %}" class="btn btn-info btn-sm"><i class="fa fa-file"></i> Solicitudes {{item.solicitud_set.all.count}}</a>
                {% endif %}
                <a href="{% url 'vacante_edit' item.id %}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Editar</a>
                <a  href="{% url 'vacante_delete' item.id %}" data-confirm="true" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"> Eliminar</i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock %}
