{% extends 'base.html' %}
{% block contenido %}
<br>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Formulario de Vacante
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <form id="myform" role="form" method="post" >
        {% csrf_token %}
        <div class="form-group">
          <label>T&iacute;tulo</label>
          {{form.titulo}}
          <p class="help-block">Titulo de la vacante.</p>
        </div>
        <div class="form-group">
          <label>Descripci&oacute;n</label>
          {{form.descripcion}}
          <p class="help-block">Decripci&oacute;n del empleo.</p>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-default">Borrar</button>
        <a href="/vacantes/" class="btn btn-default">Regresar</a>
      </form>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock %}
