{% load static from staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Solicitud</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "css/frmcss.css" %}">
</head>
<body>
<form action="">
<h1>Gracias por tu Solicitud</h1>
<fieldset>
<p>En breve recibiras un correo de confirmacion, revisaremos tu curriculum y se te enviara un correo en caso de ser seleccionado.</p>
</fieldset>
<fieldset>
  <a href="/solicitud/" class="boton">Regresar</a>
</fieldset>


</form>
</body>
</html>
