{% load static from staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Solicitud</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "css/frmcss.css" %}">
</head>
<body>

  <form role="form" method="post" enctype="multipart/form-data" >
    <h1>Formulario de Solicitud</h1>
    {% csrf_token %}
    <fieldset>
      <legend><span class="number">1</span>Seleccione una Vacante</legend>
      {{form.vacante}}
    </fieldset>
    <fieldset>
      <legend><span class="number">2</span>Datos de Contacto</legend>
      {{form.correo}}
      {{form.nombre}}
      {{form.direccion}}
      {{form.ciudad}}
      {{form.telefono}}
    </fieldset>
    <fieldset>
      <legend><span class="number">3</span>Escolaridad</legend>
      {{form.escolaridad}}
    </fieldset>
    <fieldset>
      <legend><span class="number">4</span>Anexar Curriculum</legend>
      {{form.curriculum}}
    </fieldset>
    <br>
    <br>
    <button type="submit" onclick="return confirm('Los datos son correctos?')">Enviar Solicitud</button>
    <button type="reset">Borrar</button>
  </form>


</body>
</html>
