{% extends 'base.html' %}
{% block contenido %}
<div class="col-lg-12">
  <h1 class="page-header">{{titulo}}</h1>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Lista de Solicitudes
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Vacante</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for item in solicitudes %}
            <tr data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}" aria-expanded="false" class="collapsed">
              <td>{{forloop.counter}}</td>
              <td>
                {{item.vacante}}
              </td>
              <td>{{item.nombre}}</td>
              <td>{{item.fecha|date:'d-m-Y H:i'}}</td>
              <td>
              </td>
            </tr>
            <tr>
              <td style="padding: 0px;" colspan="5">
                <div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <div>
                      <address>
                        <strong>Vacante</strong>
                        <br>{{item.vacante}}
                        <br><strong>Descripcion</strong>
                        <br>{{item.vacante.descripcion}}
                      </address>
                      <address>
                        <strong>Correo: </strong>{{item.correo}}
                        <br><strong>Nombre: </strong>{{item.nombre}}
                        <br><strong>Direccion: </strong>{{item.direccion}}
                        <br><strong>Tel: </strong>{{item.telefono}}
                        <br><strong>Escolaridad: </strong>{{item.escolaridad}}
                      </address>
                      <address>
                        <strong><a href="{{item.curriculum.url}}">Ver Curriculum</a></strong>
                        <br>
                      </address>

                    </div>
                    <div>
                      <form action="/contrato/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="id_vacante" name="id_vacante" value="{{item.vacante.id}}">
                        <input type="hidden" id="id_solicitud" name="id_solicitud" value="{{item.id}}">
                        <input type="submit" class="btn btn-primary" onclick="return confirm('Esta seguro?')" value="Contratar">
                        <a  href="{% url 'solicitud_delete' item.id %}" data-confirm="true" class="btn btn-danger">Denegar</a>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock %}
