{% extends 'base.html' %}
{% block contenido %}
<div class="col-lg-12">
  <h1 class="page-header">Contratos</h1>
</div>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Lista de Contratos
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Contratos</th>
            </tr>
          </thead>
          <tbody>
          {% for item in contratos %}

            <tr>
              <td>{{forloop.counter}}</td>
              <td class="">
                <strong>{{item.vacante}}</strong>

                <p>
                  {{item.vacante.descripcion}}
                  <br><strong>Datos: </strong>
                  <br>{{item.solicitud.nombre}}
                  <br>{{item.solicitud.correo}}
                  <br>{{item.solicitud.direccion}}
                  <br>{{item.solicitud.telefono}}
                  <br>{{item.solicitud.escolaridad}}
                  <br><strong>Quien contrato: </strong>{{item.usuario}}
                  <br><small>{{item.fecha|date:'DATETIME_FORMAT'}}</small>
                </p>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
{% endblock %}
