{% extends 'base.html' %}
{% block contenido %}
<br>
<br>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-thumb-tack fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{totalvacantes}}</div>
                    <div>Vacantes</div>
                </div>
            </div>
        </div>
        <a href="/vacantes/">
            <div class="panel-footer">
                <span class="pull-left">Ver Detalles</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-file-text-o fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{totalcontratos}}</div>
                    <div>Contratos</div>
                </div>
            </div>
        </div>
        <a href="/contratos/">
            <div class="panel-footer">
                <span class="pull-left">Ver Detalles</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
